<template name="layout">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="{{ pathFor route='home' }}" class="brand-logo">Tuitui</a>
        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="fa fa-bars"></i></a>
        <ul class="right hide-on-med-and-down">
          {{> navItems}}
        </ul>
        <ul class="side-nav" id="mobile-nav">
          {{> navItems}}
        </ul>
      </div>
    </nav>
  </div>
  <div id="main">
    {{> yield}}
  </div>
</template>
