<template name="home">
  <section id="banner">
    <div class="inner">
      <header>
        <h1>TuiTui</h1>
      </header>
      <h4>The platform to get help with your studies.</h4>
      <fieldset>
        <div class="small-12 column">
          <div class="small-8 column">
            <input type="text" placeholder="What are you looking for?" />
          </div>
          <div class="small-4 column">
            <a href="search_results.html">
              <input class="waves-effect waves-light btn" type="submit" value="Let's go!">
            </a>
          </div>
        </div>
      </fieldset>
    </div>
  </section>
  <div class="row margin qualities">
    <div class="col s4">
      <!-- Promo Content 1 goes here -->
      <img src= "/images/teacher4.png">
      <h5>Look for the right tuition!</h5>
    </div>
    <div class="col s4">
      <!-- Promo Content 2 goes here -->
      <img src= "/images/tie13.png">
      <h5>Crowdsourcing tuition islandwide</h5>
    </div>
    <div class="col s4">
      <!-- Promo Content 3 goes here -->
      <img src= "/images/magnifyingglass42.png">
      <h5>Choose the tutor that is most convenient!</h5>
    </div>
  </div>

  <div class="divider"></div>
  <div class="section center-align">
    <h5>What we do?</h5>
    <p>We help you to find the best-fitting tuition services islandwide in Singapore. It is a crowdsourcing platform for both tutors and tutees for tuition services online!</p>
  </div>
  <div class="divider"></div>
  <div class="section center-align">
    <h5>How it works?</h5>
    <p>You will need to first sign in via Facebook.</p>
    <p>For tutors: You can post your location where you would like your tuition services to be held on the Google Map!</p>
    <p>For tutees: You can find the most suitable tutor based on the location, the price and the services that they offered.</p>
  </div>
  <div class="divider"></div>
  <div class="section center-align">
    <h5>How you can help to make this platform better!</h5>
    <p>Since this is a community platform, you can post reviews about the tutors so that the quality and the credibility of the tutors are not compromised. </p>
  </div>
</template>
